
@import url('headfoot.css');



.about-group {
    width: 1200px;
    margin: 120px 0 0 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    margin:10px 0 20px 0;
}
.txt {
    line-height: 40px;  
}
.cir {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.cir img {
    width: 80%;
}

.twocl {
    width: 80%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.twocl .img {
    width: 50%;
}

.twocl .txt {
    width: 60%;
}

.about-group>p:nth-child(2) {
    display: block;
    margin-right: 300px;
}

.about-group span {
    font-size: 24px;
    background-color: #B1E392;
    color: #fff;
    margin: 0 5px;
    padding: 8px 4px;
}

.scr {
    flex-direction: row-reverse;
}


.ssr {
    margin: 20px 0;
    display: flex;
    align-items: center;
}


.long {
    width: 100px;
    height: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}

.long img {
    max-height: 100%;

}

.founder-group {
    border-top:2px solid #84AA6D;
    width: 80%;
    margin: 100px 0;
    padding: 100px;
    display: flex;
    justify-content: space-around;


}

.founder {
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fd-pic {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.fd-pic img {
    width: auto;
    height: 100%;

}

.fd-txt {
    width: 280px;
    margin: 50px 0;
    text-align: center;
    padding: 10px;
    
}
.x{
    width: 30px;
    height: 30px;
 
margin-top: 200px;
}
.x img{
    width: 100%;
}

.tibame{
    text-align: center;
}


