@import url('headfoot.css');



.about-group {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    margin: 10px 0 20px 0;
}

.txt {
    line-height: 1.6;
}

.cir .pic {
    width: 50%;
}

.cir img {
    width: 98%;
    border-radius: 10px;
}

.twocl {
    width: 80%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twocl .pic {
    border-radius: 10px;
}

.twocl .txt {
    width: 68%;
    margin-left: 20px;
}

.about-group>p:nth-child(2) {
    display: block;
    margin-right: 300px;
}

.about-group span {
    margin: 0 2px; 
    padding: 4px 0;
    font-size: 24px;
    color: #fff;
    background-color: #B1E392;
    text-shadow: 0.5px 0.5px 2px black;
    border-radius: 5px;
}
.about-group p:nth-child(3){
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.scr {
    flex-direction: row-reverse;
}


.ssr {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.ssr .long {
    width: 50%;
}


.long {
    height: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.founder-group {
    border-top: 2px solid #84AA6D;
    width: 80%;
    margin: 100px 0;
    padding: 100px;
    display: flex;
    justify-content: space-around;
}

.founder {
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fd-pic {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.fd-pic img {
    width: auto;
    height: 100%;

}

.fd-txt {
    width: 280px;
    margin: 50px 0;
    text-align: center;
    padding: 10px;

}

.x {
    width: 30px;
    height: 30px;
    margin-top: 200px;
}


 .xline {
     display: none;
     margin: auto;
 }



/* 這裡是手機區小於480 */
@media screen and (max-width: 480px) {
    html {
        background-image: none;
    }

    .main {
        width: 100%;
        display: block;
        overflow: hidden;
    }

    header {
        height: 60px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #84AA6D;
        position: relative;
    }
    .hb {
        height: 40px;
    }

    nav {
        position: absolute;
        width: 80%;
        height: calc(100vh - 60px);
        z-index: 1;
        background-color: #eee;
        top: 100%;
        left: 0;
        flex-direction: column;
        translate: 100% 0%;
        transition: 1s;
        opacity: 0;
    }

    .main nav a {
        font-size: 24px;
        padding: 20px 0;
        color: #4E4B4B;
    }

    nav a:hover {
        color: #fff;
        background-color: #4E4B4B;
        transition: 1s;
        opacity: 0.5;
    }

    nav a+a {
        border-top: 1px solid #fff;
    }

    #menu-switch:checked+.main nav {
        translate: 20% 0%;
        opacity: 1;
    }

    .hb span:nth-child(1) {
        translate: 0px -10px;
        rotate: 0deg;
        transition: tranlate 1s 1s,
            rotate 1s 0s;
    }

    .hb span:nth-child(2) {
        opacity: 1;
        transition: tranlate 1s 1s,
            rotate 1s 2s;
    }

    .hb span:nth-child(3) {
        translate: 0px 10px;
        rotate: 0deg;
        transition: tranlate 1s 1s,
            rotate 1s 0s;
    }

    .about-group {
        width: auto;
        margin: auto;
        display: block;
    }

    .about-group>p:nth-child(2) {
        margin: 30px 10px;
        text-align: center;
    }

    .about-group span {
        width: 120px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .twocl {
        width: 100%;
        margin: auto;
        padding: 50px 0;
        display: block;
        border-top: 2px solid #84AA6D;
    }

    .twocl .txt {
        width: 350px;
        text-align: center;
        margin: 20px auto;
    }

    .cir .pic {
        width: 80%;
        margin: auto;
    }

    .long {
        width: 50%;
        height: 300px;
        margin: auto;
    }

    .scr .txt {
        width: 350px;
        margin: 20px auto;
        text-align: start;
    }

    .ssr .long {
        width: 78%;
    }
    .founder-group {
        width: auto;
        display: block;
        margin: 25px 0 0 0;
    }
    .x {
       display: none;
    }
    .xline {
        display: block;
    }
   
    .fd-txt {
        margin:0 ;
    }

    .about-group p:nth-child(3){
        width: 88%;
        margin: auto;
        display: block;
        text-align: center;
    }
    .twocl .txt{
        text-align: unset;
    }
    .txt h2{
        margin: 10px 0;
        text-align: center;
    }

    .txt {
        hyphens: auto;
    }
    .txt br{
        display: none;
    }
}