
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    background-image: url(../image/backg.jpg);
    background-attachment: fixed;

}

body{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:300;
}
header {
    width: 100%;

}

.main-header {
    margin: 40px 0px 50px 0px;
    display: flex;
    margin: auto;
    width: 1200px;
    
}

a {
    text-decoration: none;
    color: #75523A;
}

.logo {
    width: 160px;
    height: 250px;


}

.logo img {
    width: 100%;
    display: inline-block;
    margin: 80px 0;
}

nav {
    display: block;
    margin: 0px 20px;
    width: 110px;
}

nav a {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
}


.about-group {
    width: 1200px;
    margin: 120px 0 0 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

}
h2{
    margin:10px 0 20px 0;
    font-family: 'BIZ UDPMincho', serif;
}
.txt {
    line-height: 40px;
  
}
span{
    font-family: 'BIZ UDPMincho', serif;
}

.cir {
    margin: 20px 0;
    display: flex;
    align-items: center;

}

.cir .pic {}

.cir img {
    width: 80%;
}

.cir .txt {}

.twocl {
    width: 80%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.twocl .img {
    width: 50%;
    

}

.twocl .txt {
    width: 60%;
   
}

.about-group>p:nth-child(2) {
    display: block;
    margin-right: 300px;
  
}

.about-group span {
    font-size: 24px;
    background-color: #B1E392;
    color: #fff;
    margin: 0 5px;
    padding: 8px 4px;
}

.scr {
    flex-direction: row-reverse;
}


.ssr {
    margin: 20px 0;
    display: flex;
    align-items: center;
}


.long {
    width: 100px;
    height: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}

.long img {
    max-height: 100%;

}

.founder-group {
    width: 80%;
    margin: 100px 0;
    display: flex;
    justify-content: space-around;


}

.founder {
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
   
  
    align-items: center;
}

.fd-pic {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.fd-pic img {
    width: auto;
    height: 100%;

}

.fd-txt {
    margin: 50px 0;
    text-align: center;
    padding: 10px;
    
}
.x{
    width: 30px;
    height: 30px;
 
margin-top: 200px;
}
.x img{
    width: 100%;
}

.footer-group {}





.footer-group {
    display: flex;
    justify-content: center;
    position: relative;
}


.nav-bottom {
    width: 100%;
    height: 330px;
    background: url(../image/footer2.png) no-repeat;
    display: flex;
    /* padding-top: 0px ; */
   align-items: end;
    justify-content: center;
    list-style: none;
    background-position: center 0;
    
}

.nav-item {}

.nav-item a {
    text-decoration: none;
    margin: 10px;
   
}

