@import url('headfoot.css');


.navbar a {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
}

.hashtag-group {
    margin: 0 0 -50px 0;
    display: flex;
    justify-content: center;
}

.hashtag-group a {
    display: inline-block;
    margin: 10px;
    width: 60px;
    padding: 6px 10px;
    text-align: center;
    border: 1px solid #84AA6D;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}

.hashtag-group a:hover {
    background-color: #84AA6D;
    color: #fff;
}

.list-group {
    width: 85%;
}

.list {
    width: 100%;
    margin: 50px ;
}

.list .card:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-evenly;
}

.list .card:nth-child(2) .txt {
    margin: 0 10px 0 -20px;
  
}
.list .card:nth-child(2) .button {
    display:inline-block;
}

.owl:nth-child(2) h2 {
       top:70%;
      }

.card {
    width: 100%;
    margin: 80px 0;
    display: flex;
    justify-content: center;
}

.pic-group {
    width: 32%;
    height:340px;
    position: relative;
}

.pic-title h2{
    font-family: 'BIZ UDPMincho', serif;
    font-size:32px;
    left: 0;
    right: 0;
    top: 60%; 
    padding: 10px;
    line-height:70px;
    text-align:center;
    position: absolute;
    color: #fff;
    text-shadow: 0 0 1px black;
    background-color: #fff8;
}

.card .pic img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);     
}

.card .txt {
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;  
}

.button {
    width: 120px;
    padding: 8px 0;
    margin-top: 30px;
    margin-left: auto;
    display: block;
    text-align: center;
    background-color: #84AA6D;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
    border: 1px solid #84AA6D;
    background-color: #fff;
    color: #84AA6D;
}

.line-group {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.white {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.white p {
    width: 50px;
    font-size: 20px;
    margin: auto;
}

.horizon {
    margin: 50px;
    width: 400px;
    height: 0.1px;
}

.lesson-group {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.item-show {
    
    margin: 20px;
}

.item-show img {
    width: 180px;
    margin: 20px; 
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.item-show p {
    text-align: center;
    margin: 10px 0;
}

.item {
    display: none;
}
.active {
    display: flex;
}


@media screen and (max-width: 480px) {
    html {
        background-image: none;
    }

    .main {
        width: 100%;
        display: block;
        overflow: hidden;
    }

    header {
        height: 60px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #84AA6D;
        position: relative;
    }

    element.style{
        display: block;
    }

    .indexlogo {
        display: none;
    }

    .phonelogo {
        display: block;
    }

    .logo {
        margin: 0 auto;
        width: 20%;
    }

    .logo img {
        padding: 5px;
    }

    .hb {
        height: 40px;
    }

    nav {
        position: absolute;
        width: 80%;
        height: calc(100vh - 60px);
        z-index: 1;
        background-color: #eee;
        top: 100%;
        left: 0;
        flex-direction: column;
        translate: 100% 0%;
        transition: 1s;
        opacity: 0;
    }

    .main nav a {
        font-size: 24px;
        padding: 20px 0;
        color: #4E4B4B;
    }

    nav a:hover {

        color: #fff;
        background-color: #4E4B4B;
        transition: 1s;
        opacity: 0.5;
    }

    nav a+a {
        border-top: 1px solid #fff;
    }

    /* 在checkbox被點擊後 .main-header的mainnav要flex */
    #menu-switch:checked+.main nav {
        /* display: flex; */
        translate: 20% 0%;
        opacity: 1;
    }

    .hb span:nth-child(1) {
        /* 位移 */
        translate: 0px -10px;
        /* 角度 */
        rotate: 0deg;
        transition: tranlate 1s 1s,
            rotate 1s 0s;
    }

    .hb span:nth-child(2) {
        /* 透明度 */
        opacity: 1;
        transition: tranlate 1s 1s,
            rotate 1s 2s;
    }

    .hb span:nth-child(3) {
        translate: 0px 10px;
        rotate: 0deg;
        transition: tranlate 1s 1s,
            rotate 1s 0s;
    }
    .list-group {
        width: 100%;
        margin: 0;
    }
    .list {
        margin: auto;
    }
    .hashtag-group a {
        width: 68px;
        height: auto;
        margin: 2px;
        padding: 6px 0;
    }
    .list .card{
        width: 80%;
        margin: 30px auto;
        display: block;
    }
    .card .txt {
        padding: 0;
    }
    .pic-group {
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        position: unset
    }

    .pic-title h2{
        position: unset;
        color: unset;
        background-color: unset;
    }

    .hashtag-group {
        margin:0;
    }

    .list .card:nth-child(2) {
        display: block;
    }

    .list .card:nth-child(2) .txt {
        margin: 0;
    }
    .horizon {
        margin: 50px 0;
        width: 140px;
    }
    .item-show img {
        width: 200px;
    }
}
