@import url('headfoot.css');


.navbar {
    display: block;
    margin: 0px 20px;
    width: 110px;
}

.navbar a {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
}

.hashtag-group {
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.hashtag-group a {
    display: inline-block;
    margin: 10px;
    width: 80px;
    height: 20px;
    padding: 10px 10px 15px 10px;
    text-align: center;
    border: 1px solid #84AA6D;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}

.hashtag-group a:hover {
    background-color: #84AA6D;
    color: #fff;
}

.list-group {
    margin: 120px 0 0 120px;
}

.list {
    width: 100%;
    margin: 30px;
}

.list .card:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-evenly;
}

.list .card:nth-child(2) .txt {
    margin: 0 10px 0 -20px;
  
}
.list .card:nth-child(2) .button {
    display:inline-block;
}


.owl:nth-child(2) h2 {
       top:70%;
      }

.card {
    width: 100%;
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.pic-group {
    width: 40%;
    height:340px;
    position: relative;
}

.pic-title h2{
    font-family: 'BIZ UDPMincho', serif;
    font-size:32px;
    left: 0;
    right: 0;
    top: 60%; 
    padding: 10px;
    line-height:70px;
    position: absolute;
    text-align:center;
    color: #4E4B4B;;
    background-color: #fff8;
}

.card .pic img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   
    
}

.card .txt {
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
    
}

.button {
    width: 120px;
    padding: 15px 20px;
    margin-top: 30px;
    margin-left: auto;
    display: block;
    text-align: center;
    background-color: #84AA6D;
    border-radius: 50px;
    font-size: 26px;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
    border: 1px solid #84AA6D;
    background-color: #fff;
    color: #84AA6D;
}

.line-group {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 280px;

}

.white {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;

}

.white p {
    width: 50px;
    font-size: 20px;
    margin: auto;
}

.horizon {
    margin: 50px;
    width: 400px;
    height: 0.1px;
}

.lesson-group {
  
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 100px;
}

.item {
    margin: 20px;
}

.item img {
    width: 180px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.item p {
    text-align: center;
    margin: 10px 0;
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
}


.nav-bottom {
    width:100%;
     height: 300px;
     border-top: 2px solid #84AA6D;
     display: flex;
    align-items: center;
     justify-content: center;
     list-style: none;
}

.nav-item {
    text-align:center;
}

ul{
 background-color:#fff;
 width:200px;
 text-align:center;

}

.nav-item a {
    text-decoration: none;
    margin: 10px;
    
   
}
.tibame{
    text-align: center;
}