@import url('headfoot.css');



h2{
    margin: 5px 0;
}

.main {
    width: 1200px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: center;
}


.slider {
    display: flex;
    flex-direction: column;
    margin: 120px 0 0 120px;
}

.slider-container {
    height: 400px;
    padding-left: 20px;
    display: flex;
    align-items: center;

}


.big-image {
    width: 650px;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.big-image img {
    width: 100%;

}


.small-images {
    width: 90px;
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

.small-images img {
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.only {

    position: fixed;
    display: flex;
    right: 250px;
    top: 250px;
    width: 80px;
    height: 70px;
}

.thrle {
    position: fixed;
    display: flex;
    width: 140px;
    height: 140px;
    left: 200px;
    bottom: 450px;

}

.outdoor {
    margin: 50px 0;
    display: flex;

}

.container {

    display: grid;
    grid-template-columns: 4fr 1fr 1.3fr;
    grid-template-rows: 1fr 5fr;
    gap: 10px;

}

.explain {
    padding: 20px;
    display: flex;

}

.fsttit {
    grid-column: 1 / span 3;
    display: flex;
    align-items: center;
}

.icon-group {
    margin: 0 10px;
    display: flex;
    align-items: center;

}

.oneday {
    margin: 0 10px;
    display: flex;
 
      
}

.oneday img {
    height: 20px;
    color:#B1E392;
}

.oneday p {
    margin: 0 10px;
}

.starplain {
    display: block;
}

.appli {
    display: flex;
    justify-content: center;

}

.button {
    width: 200px;
    height: 130px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #75523A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.button P {
    color: #75523A;
    font-size: 30px;
    text-align: center;


}

.button a {
    width: 80%;
    height: auto;
    padding: 10px 0;
    display: block;
    text-align: center;
    color: #75523A;
    border-radius: 10px;
    background-color: #B1E392;
    border: 1px solid #D9D9D9;
}


.line-short {
    position: relative;
}

.line-short a {
    line-height: 2;
    display: flex;
    text-align: start;
    color: #4E4B4B;
}

.line-short a:hover {
    color: #BC8660;
}

.line-short a:hover:before {
    content: "";
    width: 4px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 5px;
    border-radius: 4px;
    background-color: #B1E392;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    padding: 8px;
    text-align: center;
}

.info-ul {
    display: block;
    margin-top: 0px;
    margin-left: 0;
    list-style: none;
    padding-left: 30px;
}

.spot {
    padding: 15px 0;
    position: relative;
}

.spot::after {
    content: "";
    width: 3px;
    height: 100%;
    background-color: #D9D9D9;
    position: absolute;
    left: -24px;
    top: 30px;
}

.spot::before {
    content: "";
    position: absolute;
    text-align: center;
    border-radius: 100%;
    z-index: 1;
    background-color: #D9D9D9;
    width: 15px;
    height: 15px;
    left: -30px;
    top: 20px;
}

.spot:last-child:after {
    display: none;
}

th {
    display: inline-block;
}

h2 {
    text-align: start;
}

.time-info-title {
    width: 600px;
    display: flex;
    align-items: start;
}

.time {
    width: 150px;
    margin: 2px 0;
    padding-right: 10px;
}

.info-img {
    width: 400px;
}

.info-img img {
    width: 100%;
    border-radius: 10px;
}

.location {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.location h2 {
    margin: 20px 0;
}

.location-card {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #84AA6D;
}

.location-card p {
    text-align: start;
}

.caution {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #84AA6D;
}

.caution-card {
    width: 500px;
    text-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.userline {
    display: flex;
    align-items: center;
}

.usergirl {
    width: 50px;
    border-radius: 50%;
    margin: 20px;
}

.fivestar {
    margin-left: 90px;
    margin-top: -30px
}

.staricon {
    width: 20px;
    margin: 0 8px 10px 0;
}

.score {
    width: 80%;
    display: flex;
}

