@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}


html {
    background-image: url(../image/backg.jpg);
    background-attachment: fixed;

}

body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight:400;
    color:#4E4B4B;
}

.page-top-btn {
    width: 40px;
  }

  .page-top-btn a{
    width: 10px;
    color:aqua
  }
  
  .pagetop {
    width: 40px;
    position: fixed;
    bottom: 10%;
    right: 2%;
    z-index: 10;
  }


.main {
    width: 1200px;
    margin: 40px 0px 50px 0px;
    display: flex;
    margin: auto;
}

a {
    text-decoration: none;
    color: #75523A;
}

.logo {
    width: 160px;
    height: 250px;
}

.logo img {
    width: 100%;
    display: inline-block;
    margin: 80px 0;
}

nav {
    display: block;
    margin: 0px 20px;
    width: 110px;
}

nav a {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
}



footer {
    display: flex;
    justify-content: center;
    position: relative;
}


.nav-bottom {
    width:100%;
     height: 300px;
     border-top: 2px solid #84AA6D;
     display: flex;
    align-items: center;
     justify-content: center;
     list-style: none;
}

.nav-item {
    text-align:center;
}

ul{
 background-color:#fff;
 width:200px;
 text-align:center;

}

.nav-item a {
    text-decoration: none;
    margin: 10px;
    
   
}
.tibame{
    text-align: center;
}