@import url('headfoot.css');


.main {
    box-sizing: border-box;
    margin: 40px 0px 50px 0px;
    display: inline-block;
    position: relative;
    display: flex;
    margin: auto;
    width: 1200px;
    justify-content: space-between;
}

.only {

    position: fixed;
    display: flex;
    right: 250px;
    top: 250px;
    width: 80px;
    height: 70px;
}

.thrle {
    position: fixed;
    display: flex;
    width: 140px;
    height: 140px;
    left: 200px;
    bottom: 450px;
}

.homepage-pic {
    width: 100%;
    position: relative;
    margin-top: 150px;
}

.dl {
    position: absolute;
    right: -60px;
    bottom: 30px;
}

.tl {
    position: absolute;
    left: 0;
    bottom: 0;
}

.sl {
    position: absolute;
    right: 80px;
    top: 20px;
}

.slogan {
    position: absolute;
    top: 300px;
}

.slogan p {
    width: 400px;
    height: 60px;
    margin: 10px;
    font-size: 36px;
    padding: 10px;
    text-align: center;
    background-color: #fff8;
    border-radius: 50px;
    color: #4E4B4B;
}

.slogan span {
    width: 300px;
    height: 30px;
    font-size: 16px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.80);
    align-items: center;
    border-radius: 50px;
    color: #4E4B4B;
}

.phrase {
    margin: 160px 160px 100px 140px;
    line-height: 2;
    display: flex;
    justify-content: center;
}

.card-list {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.card-list .card {
    width: 1180px;
    display: flex;
    box-sizing: border-box;
    margin: 10px;

}

.cardbt {
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card .pic img {
    width: 80%;
    vertical-align: top;
    border-radius: 20px;
}

.card .pic {
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.card .txt-new {
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
    writing-mode: vertical-lr;
}

.btn-m {
    height: 400px;
    display: flex;
    justify-content: end;

}

.buttom-more {
    height: 50px;
    width: 30px;
}

.txt-new h3 {
    color: #BC8660;
    font-size: 42px;
    padding-left: 50px;
    padding-top: 30px;
}

.txt-new p {
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.txt-new a {
    width: 50px;
    height: 80px;
    border: 1px solid #BC8660;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hrr {
    border-left: 2px solid #D9D9D9;
}


@media screen and (max-width:768px) {
    .card-list {
        max-width: 1200px;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        width: calc(100% - 20px);
    }

    .card .pic,
    .card .txt {
        width: 100%;
    }
}


.edntlife-group {
    margin: 80px 0;
}

.bird-group {
    height: 120px;
    margin: 100px;
    display: flex;
    justify-content: center;
}

.bird img {
    width: 200px;
}

.tinitalk {
    display: flex;
    justify-content: center;
}

.egg {
    display: flex;
    align-content: center;
    margin: 20px;
}

.egg img {
    width: 80%;
    height: 80%;
    margin: 0 20px;
}

.egg a {
    display: flex;
    align-content: center;
}

.recommend {
    margin: 100px 300px;
    display: flex;
    justify-content: center;
}


.pic-person img {
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.txt-recom {
    width: 570px;
    height: 540px;
    margin: 0 0 -100px -130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../image/bggreen.svg) no-repeat;
}



.birdh {
    position: absolute;
    left: 500px;
    top: -50px;
}


.edntlife-group {
    margin: 180px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.bt-ed {
    margin: 50px;
    width: 200px;
    position: relative;
}

.bt-ed img {
    display: flex;
}

.bt-svg img {
    width: 100px;
}

.bt-txt {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    color: #4E4B4B;
    font-size: 32px;
    width: 70px;
    margin: auto;
}

.bt-nt {
    margin: 50px;
    width: 200px;
    position: relative;
}

.bt-life {
    margin: 50px;
    width: 200px;
    position: relative;
}


.decor-x {
    margin: 50px;
    display: flex;
    align-content: center;
}

.line-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: 250px;
}

.white {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;

}

.white p {
    width: 50px;
    font-size: 20px;
    margin: auto;
}

.horizon {
    margin: 50px;
    width: 300px;
    height: 0.1px;
}

