@import url('headfoot.css');

.logtit{
    font-size: 32px;
    color: #4E4B4B;
}

form {
    width: 400px;
    margin:100px 200px ;
    padding:30px 50px;
    border: 1px solid #84AA6D;
    border-radius:15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.form-acti{
    padding-left:50px;
    margin-bottom: 15px;
 }

.container {
    display: flex;
    justify-content: center;

}

 .sex{
    display: flex;
 }

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 50%;
    padding: 8px;
    color:#fff;
    border:1px solid #aaa;
    background-color: #84AA6D;
    border-radius: 4px;
    font-size: 16px;
}

input[type="radio"] {
    margin: 0 5px;
}

::placeholder{
    color:#fff;
}


@media screen and (max-width: 480px) {
    html {
        background-image: none;
    }

    .main {
        width: 100%;
        display: block;
        overflow: hidden;
    }

    header {
        /* width: 100%; */
        height: 60px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #84AA6D;
        position: relative;
    }

    .indexlogo {
        display: none;
    }

    .phonelogo {
        display: block;
    }

    .logo {
        margin: 0 auto;
        width: 20%;
    }

    .logo img {

        padding: 5px;
        /* box-sizing: border-box;
         background-color: #fff;
         border-radius: 50%; */
    }

    .hb {
        height: 40px;

    }

    nav {
        position: absolute;
        width: 80%;
        height: calc(100vh - 60px);
        /* margin:  5% 0; */
        z-index: 1;
        background-color: #eee;
        top: 100%;
        left: 0;
        flex-direction: column;
        /* display: none; */
        translate: 100% 0%;
        transition: 1s;
        opacity: 0;
    }


    .main nav a {
        font-size: 24px;
        padding: 20px 0;
        color: #4E4B4B;
    }

    nav a:hover {

        color: #fff;
        background-color: #4E4B4B;
        transition: 1s;
        opacity: 0.5;

    }

    nav a+a {
        border-top: 1px solid #fff;
    }

    /* 在checkbox被點擊後 .main-header的mainnav要flex */
    #menu-switch:checked+.main nav {
        /* display: flex; */
        translate: 20% 0%;
        opacity: 1;
    }

    .hb span:nth-child(1) {
        /* 位移 */
        translate: 0px -10px;
        /* 角度 */
        rotate: 0deg;
        transition: tranlate 1s 1s,
            rotate 1s 0s;
    }

    .hb span:nth-child(2) {
        /* 透明度 */
        opacity: 1;
        transition: tranlate 1s 1s,
            rotate 1s 2s;
    }

    .hb span:nth-child(3) {
        translate: 0px 10px;
        rotate: 0deg;
        transition: tranlate 1s 1s,
            rotate 1s 0s;
    }

    .container {
        width: 85%;
        margin: auto;
        display: block;

    }
    form {
        width: auto;
        margin: 50px 0;
        padding: 30px 20px;

    }

    .logtit{
       text-align: center;
    }

    .form-acti{
        padding: 0;
    }
    .form-acti label{
        text-align: start;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        width: 95%;
    }

}